{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
   Student Display
{% endblock %}

{# ----------------------------------------#}
{% block studentsNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <a href="/logout">Logout</a>

   <p>
    Admin Page {{ username }}
    </p>


    <h2>Student List</h2>



    <table>
        <tr>
            <th>Student ID</th>
            <th>Surname</th>
            <th>First Name</th>
            <th>Date Joined Club</th>
            <th>Last Grading</th>
            <th>Current Grade</th>

        </tr>

        {% for student in students %}

            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.surname }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.joinedClub }}</td>
                <td>{{ student.lastGrading }}</td>
                <td>{{ student.currentGrade }}</td>

            </tr>



        {% endfor %}
    </table>


{% endblock %}
